# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp/

# Environment variables
.env

# Dependencies
node_modules/

# Notes & Feedback from mentors
notes01.md
notes02.md
notes03.md